*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

.paket
paket-files
.idea
appsettings.Development.json
integrationsettings.local.json
/.ionide/symbolCache.db
